@font-face{
  font-family: "Pretendard";
  src: url(../font/Pretendard.ttf)format('truetype');}
@font-face{
  font-family: "Cafe24Ohsquare";
  src: url(../font/Cafe24Ohsquare.ttf)format('truetype');}

@font-face{
  font-family: "SEBANG Gothic";
  src: url(../font/SEBANGGothic.ttf)format('truetype');}
  
@font-face{
  font-family: "Jalnan";
  src: url(../font/Jalnan.ttf)format('truetype');}

@font-face{
  font-family: "Cafe24Ssurround";
  src: url(../font/Cafe24Ssurround.ttf)format('truetype');}

  
    